<div id="<%= dom_id teacher %>">
  <p>
    <strong>Gender:</strong>
    <%= teacher.gender %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= teacher.birthday %>
  </p>

  <p>
    <strong>City:</strong>
    <%= teacher.city %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= teacher.rate %>
  </p>

</div>
