<div id="<%= dom_id parent %>">
  <p>
    <strong>City:</strong>
    <%= parent.city %>
  </p>

  <p>
    <strong>Teacher gender:</strong>
    <%= parent.teacher_gender %>
  </p>

  <p>
    <strong>Teacher age:</strong>
    <%= parent.teacher_age %>
  </p>

  <p>
    <strong>Teacher rate:</strong>
    <%= parent.teacher_rate %>
  </p>

</div>
